<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093104927667-do8ru1lml4rd7j06aqj6s3l9jo0aa0fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093104927667-do8ru1lml4rd7j06aqj6s3l9jo0aa0fo</string>
	<key>API_KEY</key>
	<string>AIzaSyDJreG8oekjOOlzTvA8iZXOq_PLFVxX_G4</string>
	<key>GCM_SENDER_ID</key>
	<string>1093104927667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kratochvil.iza</string>
	<key>PROJECT_ID</key>
	<string>ios-app-105f4</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-app-105f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093104927667:ios:ac6a32f9f9368a8e6a01c6</string>
</dict>
</plist>